<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientApplicationIdentifier" value="94e962d3-370a-439d-adc3-d461d48bb05f" />
    <add
      key="Login" value="luciano-ws@omnitracs.com" />
    <add
      key="Password" value="" />
    <add key="BingApiKey" value="" />
    <add key="GoogleApiKey" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoginService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IQueryService" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRoutingService" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAdministrationService" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IMappingService" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apex-sl.aws.roadnet.com/Login/LoginService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService" contract="Apex.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="https://apex-sl.aws.roadnet.com/Query/QueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueryService" contract="Apex.IQueryService" name="BasicHttpBinding_IQueryService" />
      <endpoint address="https://apex-sl.aws.roadnet.com/Routing/RoutingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoutingService" contract="Apex.IRoutingService" name="BasicHttpBinding_IRoutingService" />
      <endpoint address="https://apex-sl.aws.roadnet.com/Administration/AdministrationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministrationService" contract="Apex.IAdministrationService" name="BasicHttpBinding_IAdministrationService" />
      <endpoint address="https://apex-sl.aws.roadnet.com/Mapping/MappingService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMappingService" contract="Apex.IMappingService" name="BasicHttpBinding_IMappingService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>